$nav-width: 10rem;
$header-height: 3.5rem;

.menu-nav {
  position: fixed;
  top: $header-height;
  left: 0;
  width: $nav-width;
  bottom: 0;
  overflow: auto;
  background-color: #22252a;
  color: #ffffff;

  .item {
    width: 100%;
    height: auto;

    .top-menu {
      height: 3rem;
      line-height: 3rem;
      font-size: 1rem;
      padding: 0 .5rem;
      cursor: pointer;
    }

    .top-menu:hover {
      background-color: #3f464d;
      color: #ffffff;
    }


    div.active {
      background-color: #3f464d;
      color: #ffffff;
    }

    .submenus {
      display: none;
      background-color: #2b3035;
      .submenu {
        a {
          width: 100%;
          color: #ffffff;
          text-decoration: none;
          display: block;
          padding-left: 2rem;
          padding-right: 1rem;
          height: 3rem;
          line-height: 3rem;
          font-size: .85rem;
        }
        a.active, a:hover {
          color: cornflowerblue;
        }
      }
    }

    .show-submenus {
      display: block;
    }
  }
}
