<div class="menu-nav">
  <div class="item" *ngFor="let menu of menus">
    <div class="top-menu" [ngClass]="{'active':currentMenu.name_en==menu.name_en}" (click)="menuClick(menu)">
      <i class="fa {{ menu.icon }} fa-fw"></i>
      {{ menu.name }}
    </div>
    <div class="submenus" [ngClass]="{'show-submenus':currentMenu.name_en==menu.name_en}"  >
      <div class="submenu" *ngFor="let submenu of menu.submenus">
        <a routerLink="{{ submenu.link }}" routerLinkActive="active">{{ submenu.name }}</a>
      </div>
    </div>
  </div>
</div>
