<div class="dashboard">
  <div class="header bg-dark">
    <h1>
      <a href="/home">Dashboard</a>
    </h1>
    <!--<div class="search">-->
    <!--<input type="search" name="keyword" title="search"-->
    <!--placeholder="搜索" autocomplete="off">-->
    <!--</div>-->
    <div class="user">
      <div class="name">
        <a href="/profile">Admin</a>
      </div>
      <div class="logout">
        <a href="/logout">退出</a>
      </div>
    </div>
  </div>
  <div class="content">
    <app-nav></app-nav>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
