$nav1-width: 6rem;
$nav2-width: 8rem;

$header-height: 3.5rem;

.dashboard {

  .header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;

    h1 {

      font-size: 1.5rem;
      display: inline-block;
      line-height: $header-height;
      height: $header-height;

      a {
        color: #ffffff;
        text-decoration: none;
      }

      a:hover {
        color: #cccccc;
      }
    }

    .search {
      //background-color: red;
      display: inline-block;
      margin-left: 2rem;
      height: $header-height;
      line-height: $header-height;

      input {
        height: 2rem;
        outline: none;

        border: none;
        border-radius: 5px;
        font-size: 1rem;
        padding: 0 .5rem;
        background-color: #868e96;
      }

      input:hover {
        background-color: #ffffff;
      }
    }

    .user {
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      display: flex;

      .name {
        line-height: $header-height;
        padding: 0 .5rem;
        a {
          color: #ffffff;
          text-decoration: none;
        }

        a:hover {
          color: #cccccc;
        }
      }

      .logout {
        line-height: $header-height;
        padding: 0 .5rem;
        a {
          color: #ffffff;
          text-decoration: none;
        }

        a:hover {
          color: #cccccc;
        }
      }
    }
  }

  .content {

    .main {
      position: fixed;
      top: $header-height;
      right: 0;
      bottom: 0;
      left: $nav1-width+$nav2-width;
      padding: .5rem;
    }
  }
}
